absl-py @ file:///croot/absl-py_1666362940888/work
aiohttp @ file:///croot/aiohttp_1670009560265/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
antlr4-python3-runtime==4.9.3
anyio @ file:///tmp/build/80754af9/anyio_1644481695334/work/dist
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644553347904/work
arrow @ file:///croot/arrow_1676588132104/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-timeout @ file:///opt/conda/conda-bld/async-timeout_1664876359750/work
attrs @ file:///croot/attrs_1668696182826/work
Babel @ file:///croot/babel_1671781930836/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1680589949093/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blessed @ file:///home/conda/feedstock_root/build_artifacts/blessed_1666523113356/work
blinker==1.4
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
brotlipy==0.7.0
build @ file:///croot/python-build_1679596508056/work
CacheControl @ file:///croot/cachecontrol-split_1676365553644/work
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
certifi==2022.12.7
cffi @ file:///croot/cffi_1670423208954/work
cfgv==3.3.1
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cleo @ file:///croot/cleo_1679609976041/work
click @ file:///tmp/build/80754af9/click_1646056706450/work
cloudpickle==2.2.1
colorama @ file:///croot/colorama_1672386526460/work
comm @ file:///croot/comm_1671231121260/work
commonmark @ file:///Users/ktietz/demo/mc3/conda-bld/commonmark_1630649545323/work
connectorx==0.3.1
contourpy @ file:///opt/conda/conda-bld/contourpy_1663827406301/work
coverage==7.2.5
crashtest @ file:///croot/crashtest_1679422372509/work
croniter @ file:///croot/croniter_1666888073231/work
cryptography @ file:///croot/cryptography_1677533068310/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
daal4py==2023.0.2
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1680191731712/work
dateutils @ file:///home/conda/feedstock_root/build_artifacts/dateutils_1603450192521/work
debugpy @ file:///home/builder/ci_310/debugpy_1640789504635/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deepdiff @ file:///home/conda/feedstock_root/build_artifacts/deepdiff_1679103797842/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill @ file:///croot/dill_1667919592856/work
distlib @ file:///croot/distlib_1673477531104/work
docker-pycreds==0.4.0
dulwich @ file:///croot/dulwich_1679420040193/work
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649908313000/work
exceptiongroup==1.1.1
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1669571890356/work
fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
filelock==3.8.0
flit_core @ file:///croot/flit-core_1679397103445/work/source/flit_core
fonttools==4.25.0
frozenlist @ file:///croot/frozenlist_1670004507010/work
fsspec @ file:///croot/fsspec_1679418786824/work
future @ file:///croot/future_1677599870788/work
gitdb==4.0.9
GitPython==3.1.27
google-auth @ file:///opt/conda/conda-bld/google-auth_1646735974934/work
google-auth-oauthlib @ file:///opt/conda/conda-bld/google-auth-oauthlib_1660687784486/work
grpcio @ file:///opt/conda/conda-bld/grpcio_1655801038495/work
h11 @ file:///tmp/build/80754af9/h11_1620423447028/work
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
huggingface-hub @ file:///croot/huggingface_hub_1667490244076/work
humanize==4.6.0
hydra-core==1.3.2
hydra-submitit-launcher==1.2.0
identify==2.5.24
idna @ file:///croot/idna_1666125576474/work
importlib-metadata @ file:///croot/importlib-metadata_1678997070253/work
inflect==6.0.4
iniconfig==2.0.0
inquirer @ file:///home/conda/feedstock_root/build_artifacts/inquirer_1678135536462/work
installer @ file:///croot/python-installer_1679432998036/work
ipykernel @ file:///croot/ipykernel_1671488378391/work
ipython @ file:///croot/ipython_1680701871216/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///croot/ipywidgets_1679394798311/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jedi @ file:///tmp/build/80754af9/jedi_1644315229345/work
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
Jinja2 @ file:///croot/jinja2_1666908132255/work
joblib @ file:///croot/joblib_1666298844297/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///croot/jsonschema_1676558650973/work
jupyter @ file:///tmp/abs_33h4eoipez/croots/recipe/jupyter_1659349046347/work
jupyter-console @ file:///croot/jupyter_console_1679999630278/work
jupyter-resource-usage @ file:///home/conda/feedstock_root/build_artifacts/jupyter-resource-usage_1675699576211/work
jupyter-server @ file:///croot/jupyter_server_1671707632269/work
jupyter_client @ file:///croot/jupyter_client_1680171862562/work
jupyter_core @ file:///croot/jupyter_core_1679906564508/work
jupyterlab @ file:///croot/jupyterlab_1675354114448/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///croot/jupyterlab_widgets_1679055282532/work
jupyterlab_server @ file:///croot/jupyterlab_server_1680792501448/work
keopscore==2.1
keyring @ file:///croot/keyring_1678999217139/work
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
lightning @ file:///home/conda/feedstock_root/build_artifacts/lightning_1680930558452/work
lightning-cloud @ file:///home/conda/feedstock_root/build_artifacts/lightning-cloud_1679372736405/work
lightning-utilities @ file:///croot/lightning-utilities_1677510309509/work
lockfile==0.12.2
loguru==0.7.2
lxml @ file:///croot/lxml_1679646450407/work
Markdown @ file:///croot/markdown_1671541909495/work
markdown-it-py @ file:///opt/conda/conda-bld/markdown-it-py_1659718716158/work
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
matplotlib @ file:///croot/matplotlib-suite_1679593461707/work
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mdurl @ file:///opt/conda/conda-bld/mdurl_1659716024347/work
memory-profiler==0.61.0
mistune @ file:///home/builder/ci_310/mistune_1640791641754/work
mkl-fft==1.3.1
mkl-random @ file:///home/builder/ci_310/mkl_random_1641843545607/work
mkl-service==2.4.0
ml-mixins==0.0.5
mock @ file:///tmp/build/80754af9/mock_1607622725907/work
more-itertools @ file:///tmp/build/80754af9/more-itertools_1637733554872/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msgpack @ file:///opt/conda/conda-bld/msgpack-python_1652362659880/work
multidict @ file:///croot/multidict_1665674239670/work
multiprocess @ file:///croot/multiprocess_1668006441451/work
munkres==1.1.4
nbclassic @ file:///croot/nbclassic_1680622696335/work
nbclient @ file:///tmp/build/80754af9/nbclient_1650290238894/work
nbconvert @ file:///croot/nbconvert_1668450669124/work
nbformat @ file:///croot/nbformat_1670352325207/work
nest-asyncio @ file:///croot/nest-asyncio_1672387112409/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
nodeenv==1.7.0
notebook @ file:///croot/notebook_1680011997181/work
notebook_shim @ file:///croot/notebook-shim_1668160579331/work
numexpr @ file:///croot/numexpr_1668713893690/work
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1652801679809/work
oauthlib @ file:///croot/oauthlib_1679489621486/work
omegaconf==2.3.0
ordered-set @ file:///home/conda/feedstock_root/build_artifacts/ordered-set_1643221357603/work
orjson @ file:///croot/orjson_1681111191666/work/target/wheels/orjson-3.8.8-cp310-cp310-linux_x86_64.whl
packaging @ file:///croot/packaging_1678965309396/work
pandas==1.5.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathtools==0.1.2
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.4.0
pkginfo @ file:///croot/pkginfo_1679431160147/work
platformdirs @ file:///opt/conda/conda-bld/platformdirs_1662711380096/work
plotly @ file:///opt/conda/envs/env/conda-bld/plotly_1680710161946/work/packages/python/plotly/dist/plotly-5.14.1.tar.gz
pluggy==1.0.0
ply==3.11
poetry @ file:///croot/poetry_1680193142998/work
poetry-core @ file:///croot/poetry-core_1680018645313/work
poetry-plugin-export @ file:///croot/poetry-plugin-export_1680122784541/work
polars==0.19.19
pre-commit==3.3.1
pretty-traceback==2022.1018
prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
promise==2.3
prompt-toolkit @ file:///croot/prompt-toolkit_1672387306916/work
protobuf==3.20.3
psutil==5.9.2
psycopg2 @ file:///croot/psycopg2_1666817453215/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py4j==0.10.9.7
pyarrow==10.0.1
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pybind11==2.10.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///croot/pydantic_1667416129100/work
pyDeprecate @ file:///home/conda/feedstock_root/build_artifacts/pydeprecate_1623410077719/work
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyJWT @ file:///opt/conda/conda-bld/pyjwt_1657544592787/work
pykeops==2.1
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
pyproject_hooks @ file:///croot/pyproject_hooks_1679584411881/work
PyQt5-sip==12.11.0
pyrsistent @ file:///home/builder/ci_310/pyrsistent_1640807196327/work
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pytest==7.3.1
pytest-cov==4.0.0
pytest-subtests==0.11.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
python-editor @ file:///Users/ktietz/demo/mc3/conda-bld/python-editor_1629715712526/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1679167423335/work
pytorch-lightning @ file:///home/conda/feedstock_root/build_artifacts/pytorch-lightning_1680212238047/work
pytorch-lognormal-mixture==0.0.1
pytz @ file:///croot/pytz_1671697431263/work
PyYAML @ file:///croot/pyyaml_1670514731622/work
pyzmq @ file:///opt/conda/conda-bld/pyzmq_1657724186960/work
qtconsole @ file:///croot/qtconsole_1674008428467/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1662014892439/work
rapidfuzz @ file:///croot/rapidfuzz_1679593470109/work
readchar @ file:///home/conda/feedstock_root/build_artifacts/readchar_1679045163536/work
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1679599138183/work
requests @ file:///croot/requests_1678709721434/work
requests-oauthlib==1.3.0
requests-toolbelt @ file:///Users/ktietz/demo/mc3/conda-bld/requests-toolbelt_1629456163440/work
responses @ file:///home/conda/feedstock_root/build_artifacts/responses_1643839609465/work
rich @ file:///tmp/abs_f016wesp06/croots/recipe/rich_1659708287203/work
rootutils==1.0.6
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1651557636210/work
safetensors==0.4.1
scikit-learn @ file:///croot/scikit-learn_1680198742267/work
scikit-learn-intelex==20230228.214242
scipy @ file:///home/builder/ci_310/scipy_1641389939032/work
SecretStorage @ file:///croot/secretstorage_1678709481048/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentry-sdk==1.9.9
setproctitle @ file:///home/conda/feedstock_root/build_artifacts/setproctitle_1666817094316/work
shellingham @ file:///croot/shellingham_1669142169426/work
shortuuid==1.0.9
sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.0
sniffio @ file:///home/builder/ci_310/sniffio_1640794799774/work
soupsieve @ file:///croot/soupsieve_1680518478486/work
sparklines==0.4.2
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
stackprinter==0.2.10
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1668726462865/work
starsessions @ file:///home/conda/feedstock_root/build_artifacts/starsessions_1659923701614/work
submitit==1.4.5
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1679342554516/work
tables @ file:///tmp/build/80754af9/pytables_1647579518742/work
tabulate==0.9.0
tenacity @ file:///tmp/abs_9ca5cd06-f53b-4ea6-8eea-954e11157fddo5mhurpp/croots/recipe/tenacity_1657899103026/work
terminado @ file:///croot/terminado_1671751832461/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tinycss2 @ file:///croot/tinycss2_1668168815555/work
tokenizers @ file:///opt/conda/conda-bld/tokenizers_1651822590771/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
tomlkit @ file:///tmp/abs_56_0lnnq5x/croots/recipe/tomlkit_1658946880479/work
torch==2.0.0
torchaudio==2.0.0
torchmetrics @ file:///home/conda/feedstock_root/build_artifacts/torchmetrics_1678720682204/work
torchvision==0.15.0
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets @ file:///croot/traitlets_1671143879854/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1680139733669/work
triton==2.0.0
trove-classifiers @ file:///croot/trove-classifiers_1679610028660/work
typing_extensions @ file:///croot/typing_extensions_1669924550328/work
urllib3 @ file:///croot/urllib3_1680254681959/work
uvicorn @ file:///croot/uvicorn-split_1678090074528/work
virtualenv @ file:///croot/virtualenv_1674752100526/work
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1680972691728/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///home/builder/ci_310/websocket-client_1640795866898/work
websockets @ file:///croot/websockets_1678966790840/work
Werkzeug @ file:///croot/werkzeug_1679489717957/work
widgetsnbextension @ file:///croot/widgetsnbextension_1679313860248/work
xxhash @ file:///croot/python-xxhash_1667919521615/work
yarl @ file:///opt/conda/conda-bld/yarl_1661437085904/work
zipp @ file:///croot/zipp_1672387121353/work
